/*웹폰트*/
@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KoPubDotumMedium';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NIXGONM-Vb';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'EBSHMJESaeronRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/EBSHMJESaeronRA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url(//fonts.googleapis.com/earlyaccess/nanumbrushscript.css);

.nanumbrushscript * {
 font-family: 'Nanum Brush Script', cursive;
}

/*기본사항*/
*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #333;} 
body{
    font-family: 'S-CoreDream-6Bold';
    font-size: 14px;
    line-height: 24px;
    color: #333;
    min-width: 1320px;
}

/*헤더*/
#header{
	width: 100%;
    border-bottom: 2px solid #61564e;
}
.header_inner{
    width: 1320px;
    height: 107px;
    margin: auto;
}
.header_inner img{
    float: left;
    padding: 20px 0 20px 20px;
}
#gnb{
    float: right;
}
#gnb li{
    float: left;
    text-align: center;
}
#gnb li a{
    display: block;
    padding: 60px 0px 20px 0px;
    font-size: 20px;
    width: 207px;
}
#gnb li:hover a{
    color: #bb6c29;
}

/*서브메뉴*/
.submenu_wrap{
	position: absolute;
	top: 107px;
	left: 0;
	width: 100%;
	background-color: #fff;
    border-top: 2px solid #61564e;
}
.submenu{
	width: 1320px;
	margin: 0 auto;
}
.submenu_right{
	float: right;
}
.submenu_right ul{
	text-align: center;
	float: left;
	width: 207px;
}
.submenu_right ul li a{
	display: block;
	padding-top: 10px;
}
.pad4{
    padding-bottom: 10px;
}
.submenu_right ul li a:hover{
	text-decoration: underline;
}

/*영상*/
#movie img{
    width: 100%;
    display: block;
}

/*예약폼*/
#main_banner {
	height:150px;
	position:relative;
	top:-40px;
	left:0;
}

.reservation {
	width:1200px;
	height:150px;
	margin:0 auto;
	background:#61564e;
	position:absolute;
	left:50%;
	margin-left:-600px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
.select{
	width:970px;
    height: 150px;
	float:left;
	text-align:center;
    background: url(../images/main/reservation/moon_star.png) no-repeat 498px center;
    margin-left: 20px;
}
.select li{
    float: left;
    font-size: 20px;
    padding: 30px 80px 5px 100px;
    color: #fff;
}
.select li:nth-child(2){
    padding: 30px 87px 5px 110px;
}
.select li:nth-child(3){
    padding: 30px 45px 5px 110px;
}
select{
	padding:10px 50px 10px 10px;
	outline-style:none;
    border:1px solid #fff;
	color:#fff;
	appearance:none;
	background:url(../images/main/reservation/select_icon.png) no-repeat 90% center;
    float: left;
}
input{
    display: block;
    float: left;
	outline-style:none;
	border:1px solid #fff;
	padding:10px 15px;
	width:118px;
	background:url(../images/main/reservation/icon_wallpaper.png) no-repeat 90% center;
    color:#fff;
}
.in{
	margin: 20px 116px 0 0; 
}
.out{
	margin: 20px 93px 0 0; 
}
.room{
    margin: 20px 84px 0 50px;
}
.person{
    margin: 20px 0;
}

option {
	color:#000;
}
input::placeholder {
	color:#fff;
}

.search {
	width:140px;
	text-align:center;
	background:#fff;
	float:right;
	margin: 48px 70px 48px 0;
}
.search>a {
	color:#333;
	display:block;
	padding:15px 0;
    font-size: 20px;
}
.search> a:hover{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

/*섹션별 제목과 부제목*/
.title{
    padding-bottom: 20px;
    font-size: 30px;
    text-align: center;
}
.subtitle{
    padding-bottom: 50px;
    font-family: 'NIXGONM-Vb';
    font-size: 14px;
    text-align: center;
}

/*스페셜*/
#special{
    width: 1320px;
    height: 720px;
    margin: 100px auto 150px; 
}
#special li{
    float: left;
    width: 25%;
    height: 600px;
    position: relative; 
}
#special a{
    color: #fff; 
}
.text{
    position: absolute;
    width: 100%;
    top: 150px;
    text-align: center;
}
.padding{
    padding-left: 7px;
}
.text h2{
    font-family: 'EBSHMJESaeronRA';
    font-size: 30px;
    padding: 20px 0 40px;
    letter-spacing: 10px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}
.text h3{
    font-size: 28px;
    padding: 0 0 30px 0;
    letter-spacing: 10px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}
.text p{
    font-size: 12px;
    line-height: 22px;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.7);
}

/*스페셜 호버*/
#special li:nth-child(1){
    background: url(../images/main/special/special_dado_color.jpg);   
}
#special li:nth-child(2){
    background: url(../images/main/special/special_dining_color.jpg);
}
#special li:nth-child(3){
    background: url(../images/main/special/special_spa_color.jpg);
}
#special li:nth-child(4){
    background: url(../images/main/special/special_cafe_color.jpg);
}
#special li:hover .black  {
    opacity: 0;
    transition: all 0.5s;
}


/*리뷰*/
#review{
    width: 100%;
    margin-bottom: 150px;
    background-color: #e4e0dc;
}
.one> li{
    float: left;
}
.review_inner{
    width: 1320px;
    height: 600px;
    margin: auto;
}

/*리뷰 왼쪽 박스*/
.review_inner1{
    width: 815px;
    height: 600px;
}
.top{
    width: 730px;
    height: 100px;
    padding: 100px 0 0 120px;
}
.top li:nth-child(1){
    float: left;
    width: 126px;
    text-align: center;
    padding: 24px 24px 0 38px;
}
.top li:nth-child(2){
    width: 360px;
    float: left;
    font-family: 'Nanum Brush Script', cursive;
    font-size: 50px;
    line-height: 55px;
}
.f1{
    font-size: 30px;
}
.p1{
    padding-left: 50px;
}
.p2{
    padding-left: 191px;
    font-size: 40px;
}

.bottom li{
    float: left;
}
.bottom1 span{
    background-color: #f1c880;
}
.bottom1{
    width: 350px;
    height: 200px;
    background: #fff url(../images/main/review/review_colum1.png) no-repeat 30px 30px;
    border-radius: 20px;
    margin: 70px 20px 70px 30px;
}
.size{
    width: 340px;
    height: 200px;
    background-color: #fff;
    background: #fff url(../images/main/review/review_colum1.png) no-repeat 30px 30px;
}

.bottom1 p{
    font-family: 'Chosunilbo_myungjo';
    font-size: 14px;
    font-weight: 600;
    padding: 42px 0 0 70px;
}
.size p{
    padding: 60px 0 0 61px;
}
.font{
    font-family: 'Chosunilbo_myungjo';
    font-size: 14px;
    font-weight: 500;
    padding: 10px 0 0 68px;
}
.star{
    padding: 10px 40px 0 20px;
}
.colum{
    padding: 14px 0 0 7px;
}

/*리뷰 오른쪽 박스*/
.review_inner2{
    width: 505px;
    height: 600px;
    padding: 70px 30px 0 30px;
    box-sizing: border-box;
}
.review_inner2 h3{
    text-align: center;
    font-family: 'EBSHMJESaeronRA';
    font-size: 28px;
    padding-bottom: 40px;
}
.middle{
    width: 400px;
    height: 165px;
    margin: auto;
    background-color: #fff;
    text-align: center;
}
.middle li{
    float: left;
}
.left{
    width: 200px;
}
.inner{
    width: 200px;
    height: 100px;
    border-right: 2px solid #502612;
    margin-top: 35px;
    background: url(../images/main/review/review_star_02.png) no-repeat center;;
}
.right{
    width: 200px;
    height: 165px;
}
.inner h4{
    font-size: 18px;
    padding: 8px 0 38px 0;
}
.inner p{
    font-family: 'KoPubDotumMedium';
}
.right p{
    font-family: 'KoPubDotumMedium';
}
.right h4{
    font-size: 18px;
    padding: 40px 0 10px 0;
}
.right h2{
    font-size: 35px;
    color: #bb6c29;
    padding-bottom: 5px;
}

.graph{
    width: 400px;
    height: 200px;
    margin: auto;
    padding-top: 40px;
}
.graph p{
    clear: both;
    font-size: 15px;
    padding: 10px 0 5px 0;
}
.graph li{
    float: left;
    padding-right: 20px;
}
.graph li:nth-child(2n){
    padding-right: 0;
}
.graph div{
    width: 266px;
    height: 20px;
    background-color: #bb6c29;
}
.graph li div:nth-child(2){
    width: 258px;
    height: 20px;
    background-color: #bb6c29;
}
.graph span{
    font-size: 18px;
}


/*배너_swiper*/
#banner{
    width: 1320px;
    margin: 0 auto 150px;
}
.swiper{
    width: 100%;
    height: 100%;
}
.swiper-slide{
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*인스타그램*/
#instagram{
    width: 1320px;
    height: 650px;
    margin: 0 auto 150px;
}
#instagram li{
    float: left;
    width: 250px;
    height: 250px;
    margin: 0 17.5px 17.5px 0;
    box-sizing: border-box;
    overflow: hidden;
}
#instagram li:nth-child(5n){ /*5번째 오른쪽 여백은 0으로*/
    margin-right: 0;
}
#instagram li:hover img{
    transform: scale(1.2, 1.2); /*li에 마우스를 올리면 이미지가 커짐*/
}
#instagram li img{
    transition: all 1s; /*호버된 모든 요소가 1초동안 변하게*/
}

/*푸터*/
#footer{
    width: 100%;
    height: 300px;
    background-color: #544f47;
}
.wrap{
    width: 100%;
    border-bottom: 2px solid #fff;
}
.footer_inner1{
    width: 1320px;
    height: 150px;
    margin: auto;
    padding: 30px 0 0 50px;
    box-sizing: border-box;
}
.footer_inner1 li{
    float: left;
    color: #fff;
    font-family: 'Gothic A1', sans-serif;
}
.footer_inner1 li:nth-child(1){
    padding: 10px 90px 30px 0;
}
.footer_inner1 li:nth-child(2){
    padding: 14px 90px 25px 0;
}
.footer_inner1 li:nth-child(3){
    padding: 7px 90px 25px 0;
}
.footer_inner2{
    width: 1320px;
    margin: auto;
    padding: 30px 0 0 50px;
    background: url(../images/main/footer/footer_logo.png) no-repeat 95% 50px;
    box-sizing: border-box;
}
.footer_inner2 li{
    float: left;
}
.footer_inner2 li a{
    display: block;
    padding-right: 10px;
    font-size: 20px;
    color: #fff;
}
.footer_inner2 p{
    clear: both;
    text-align: left;
    font-family: 'Gothic A1', sans-serif;;
    font-size: 12px;
    color: #fff;
    padding-top: 30px;
}
#footer select{
    float: right;
    padding: 10px 40px 10px 20px;
    background: #dbcec7 url(../images/main/footer/select_icon_black.png) no-repeat 90% center;
    font-family: 'S-CoreDream-6Bold';
    font-size: 18px;
    color: #333;
    margin: 25px 50px 0 0;
    border: none;
}

/*고정버튼*/
.btn{
    position: fixed;
    bottom: 20px;
    right: 75px;
    transform: translateY(-50%);
}
.btn li:nth-child(1){
    text-align: center;
    padding-bottom: 5px;
    color: #6e4e37;
}