@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NIXGONM-Vb';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #333;}
body{
    font-family: 'S-CoreDream-6Bold';
    font-size: 14px;
    line-height: 22px;
    color: #333;
    min-width: 1320px;
}

/*헤더*/
#header{
	width: 100%;
}
.header_inner{
    width: 1320px;
    height: 99px;
    margin: auto;
}
.header_inner img{
    float: left;
    padding: 15px 0 15px 15px;
}
#gnb{
    float: right;
}
#gnb li{
    float: left;
    text-align: center;
}
#gnb li a{
    display: block;
    padding: 60px 0px 15px 0px;
    font-size: 18px;
    width: 207px;
}
#gnb li:hover a{
    color: #bb6c29;
}

/*서브메뉴*/
.submenu_wrap{
	position: absolute;
	top: 99px;
	left: 0;
	width: 100%;
	background-color: #fff;
    border-top: 2px solid #61564e;
}
.submenu{
	width: 1320px;
	margin: 0 auto;
}
.submenu_right{
	float: right;
}
.submenu_right ul{
	text-align: center;
	float: left;
	width: 207px;
}
.submenu_right ul li a{
	display: block;
	padding-top: 10px;
}
.pad4{
    padding-bottom: 10px;
}
.submenu_right ul li a:hover{
	text-decoration: underline;
}

/*배너*/
#banner{
    height: 400px;
    margin: 0 auto 150px;
    background: url(../images/sub2/banner/banner.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    color: #fff;
    text-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
#banner h1{
    font-size: 40px;
    padding: 90px 0 40px;
}
#banner p{
    font-family: 'NIXGONM-Vb';
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    padding-bottom: 60px;
}
#banner ul{
    display: inline-block;
}
#banner li{
    float: left;
}
#banner li:nth-child(2){
    padding: 0 150px;
}

/*마음채움*/
#room1{
    width: 1320px;
    height: 430px;
    margin: 0 auto 150px;
    position: relative;
}
.img{
    display: block;
    float: left;
}
.img1{
    position: absolute;
    top: 0;
    left: 560px;
}
.img2{
    position: absolute;
    top: 230px;
    left: 560px;
}
.text{
    width: 450px;
    height: 430px;
    float: right;
    background: url(../images/sub2/room1/line.jpg) no-repeat left 80px;
}
.text h1{
    font-size: 40px;
    padding: 10px 0 80px;
}
.text h2{
    font-size: 30px;
    padding-bottom: 70px;
}
.text p{
    font-family: 'NIXGONM-Vb';
    font-weight: bold;
    padding-bottom: 70px;
}
.text li{
    float: left;
    padding-right: 50px;
}

/*기쁨채움*/
#room2{
    width: 1320px;
    height: 430px;
    margin: 0 auto 150px;
    position: relative;
}

/*사랑채움*/
#room3{
    width: 1320px;
    height: 430px;
    margin: 0 auto 150px;
    position: relative;
}

/*푸터*/
#footer{
    width: 100%;
    height: 300px;
    background-color: #544f47;
}
.wrap{
    width: 100%;
    border-bottom: 2px solid #fff;
}
.footer_inner1{
    width: 1320px;
    height: 150px;
    margin: auto;
    padding: 30px 0 0 50px;
    box-sizing: border-box;
}
.footer_inner1 li{
    float: left;
    color: #fff;
    font-family: 'Gothic A1', sans-serif;
}
.footer_inner1 li:nth-child(1){
    padding: 10px 90px 30px 0;
}
.footer_inner1 li:nth-child(2){
    padding: 14px 90px 25px 0;
}
.footer_inner1 li:nth-child(3){
    padding: 7px 90px 25px 0;
}
.footer_inner2{
    width: 1320px;
    margin: auto;
    padding: 30px 0 0 50px;
    background: url(../images/main/footer/footer_logo.png) no-repeat 95% 50px;
    box-sizing: border-box;
}
.footer_inner2 li{
    float: left;
}
.footer_inner2 li a{
    display: block;
    padding-right: 10px;
    font-size: 18px;
    color: #fff;
}
.footer_inner2 p{
    clear: both;
    text-align: left;
    font-family: 'Gothic A1', sans-serif;;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    padding-top: 30px;
}
#footer select{
    float: right;
    padding: 10px 40px 10px 20px;
    background: #dbcec7 url(../images/main/footer/select_icon_black.png) no-repeat 90% center;
    font-family: 'S-CoreDream-6Bold';
    font-size: 16px;
    color: #333;
    margin: 25px 50px 0 0;
    appearance: none;
    outline: none;
}

/*고정버튼*/
.btn{
    position: fixed;
    bottom: 20px;
    right: 75px;
    transform: translateY(-50%);
}
.btn li:nth-child(1){
    text-align: center;
    padding-bottom: 5px;
    color: #6e4e37;
}