@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NIXGONM-Vb';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #333;}
body{
    font-family: 'S-CoreDream-6Bold';
    font-size: 14px;
    line-height: 22px;
    color: #333;
    min-width: 1320px;
}

/*헤더*/
#header{
	width: 100%;
    border-bottom: 2px solid #61564e;
}
.header_inner{
    width: 1320px;
    height: 99px;
    margin: auto;
}
.header_inner img{
    float: left;
    padding: 15px 0 15px 15px;
}
#gnb{
    float: right;
}
#gnb li{
    float: left;
    text-align: center;
}
#gnb li a{
    display: block;
    padding: 60px 0px 15px 0px;
    font-size: 18px;
    width: 207px;
}
#gnb li:hover a{
    color: #bb6c29;
}

/*서브메뉴*/
.submenu_wrap{
	position: absolute;
	top: 99px;
	left: 0;
	width: 100%;
	background-color: #fff;
    border-top: 2px solid #61564e;
}
.submenu{
	width: 1320px;
	margin: 0 auto;
}
.submenu_right{
	float: right;
}
.submenu_right ul{
	text-align: center;
	float: left;
	width: 207px;
}
.submenu_right ul li a{
	display: block;
	padding-top: 10px;
}
.pad4{
    padding-bottom: 10px;
}
.submenu_right ul li a:hover{
	text-decoration: underline;
}

/*예약안내*/
#introduce{
    width: 100%;
    height: 850px;
    margin: 100px auto 150px;
    background-color: #f2f2f2;
    padding: 80px 0;
    box-sizing: border-box;
}
.introduce_inner{
    width: 1200px;
    height: 600px;
    margin: auto;
    text-align: center;
    position: relative;
}
.introduce_inner h1{
    font-size: 30px;
    padding-bottom: 20px;
}
.subtitle{
    font-family: 'NIXGONM-Vb';
    font-weight: bold;
    padding-bottom: 50px;
}
.position1{
    position: absolute;
    top: 25px;
    left: 0;
    font-size: 12px;
}
.position2{
    position: absolute;
    top: 25px;
    right: 0;
    font-size: 12px;
}
.introduce_content{
    background-color: #fff;
    width: 1200px;
    height: 550px;
    margin: auto;
}
.left{
    float: left;
}
.right{
    float: right;
}
.img{
    display: block;
}
.text{
    width: 600px;
    height: 275px;
}
.text h2{
    font-size: 25px;
    padding: 40px 0 30px;
}
.text p{
    font-family: 'NIXGONM-Vb';
    font-weight: bold;
}
.left p{
    padding-bottom: 20px;
}
span{
    color: #ed6400;
}


/*예약*/
#reservation{
    width: 1320px;
    height: 1810px;
    margin: 0 auto 150px;
    text-align: center;
}
.title{
    font-size: 30px;
    padding-bottom: 20px;
}

/*1단계 날짜선택*/
.phase{
    width: 160px;
    margin: 0 auto 50px;
    border-radius: 50px;
    background-color: #61564e;
    color: #fff;
    font-size: 16px;
    padding: 10px 0;
}
.calendar{
    margin-bottom: 100px;
}
.calendar img:nth-child(1){
    float: left;
    padding-top: 130px;
}
.calendar img:nth-child(4){
    float: right;
    padding-top: 130px;
}
.calendar img:nth-child(2){
    float: left;
    padding: 0 100px 0 130px;
}

/*2단계 방선택*/
.room{
    width: 1200px;
    height: 430px;
    margin: auto;
    margin-bottom: 100px;
}
.photo li{
    float: left;
}
.photo li:nth-child(2){
    padding: 0 30px;
}
.check li{
    float: left;
    font-size: 16px;
}
.check li:nth-child(1){
    padding: 10px 0 0 150px;
}
.check li:nth-child(2){
    padding: 10px 0 0 300px;
}
.check li:nth-child(3){
    padding: 10px 0 0 330px;
}
input{
    margin-right: 15px;
}

/*3단계 정보입력*/
.phase_inner{
    width: 1320px;
    height: 370px;
    margin: auto;
    border: 1px solid #333;
    padding-top: 35px;
    position: relative;
}
.input_left{
    float: left;
    width: 400px;
    height: 335px;
    margin-left: 60px;
    border-right: 1px solid #333;
    padding-top: 5px;
}
.input_right{
    float: right;
    width: 400px;
    height: 335px;
    margin-right: 60px;
    border-left: 1px solid #333;
    padding: 50px 0 0 50px;
    box-sizing: border-box;
}
.center{
    position: absolute;
    top: 25px;
    left: 545px;
}
.input_left h1{
    font-size: 18px;
    padding-bottom: 10px;
    text-align: left;
    clear: both;
}
.input_left li{
    float: left;
}
.input_left li:nth-child(1){
    padding-top: 5px;
}
.input_left li:nth-child(3){
    padding-top: 5px;
}
.input_left li:nth-child(2){
    padding-right: 50px;
}
.phase_inner input{
    float: left;
    margin-bottom: 20px;
    outline: none;
}
.phase_inner textarea{
    float: left;
    outline: none;
}
.input_right h1{
    font-size: 18px;
    padding-bottom: 20px;
    text-align: left;
}
.input_right p{
    font-family: 'NIXGONM-Vb';
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}
.border{
    border: 1px solid #333;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.input_right li{
    float: left;
}
.input_right li:nth-child(1){
    padding-top: 5px;
}

/*예약완료*/
.complete{
    display: inline-block;
    padding: 15px 50px;
    color: #fff;
    background-color: #61564e;
    margin-top: 50px;
    font-size: 18px;
}
.complete:hover{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3)
}

/*푸터*/
#footer{
    width: 100%;
    height: 300px;
    background-color: #544f47;
}
.wrap{
    width: 100%;
    border-bottom: 2px solid #fff;
}
.footer_inner1{
    width: 1320px;
    height: 150px;
    margin: auto;
    padding: 30px 0 0 50px;
    box-sizing: border-box;
}
.footer_inner1 li{
    float: left;
    color: #fff;
    font-family: 'Gothic A1', sans-serif;
}
.footer_inner1 li:nth-child(1){
    padding: 10px 90px 30px 0;
}
.footer_inner1 li:nth-child(2){
    padding: 14px 90px 25px 0;
}
.footer_inner1 li:nth-child(3){
    padding: 7px 90px 25px 0;
}
.footer_inner2{
    width: 1320px;
    margin: auto;
    padding: 30px 0 0 50px;
    background: url(../images/main/footer/footer_logo.png) no-repeat 95% 50px;
    box-sizing: border-box;
}
.footer_inner2 li{
    float: left;
}
.footer_inner2 li a{
    display: block;
    padding-right: 10px;
    font-size: 18px;
    color: #fff;
}
.footer_inner2 p{
    clear: both;
    text-align: left;
    font-family: 'Gothic A1', sans-serif;;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    padding-top: 30px;
}
#footer select{
    float: right;
    padding: 10px 40px 10px 20px;
    background: #dbcec7 url(../images/main/footer/select_icon_black.png) no-repeat 90% center;
    font-family: 'S-CoreDream-6Bold';
    font-size: 16px;
    color: #333;
    margin: 25px 50px 0 0;
    appearance: none;
    outline: none;
}

/*고정버튼*/
.btn{
    position: fixed;
    bottom: 20px;
    right: 75px;
    transform: translateY(-50%);
}
.btn li:nth-child(1){
    text-align: center;
    padding-bottom: 5px;
    color: #6e4e37;
}